QPushButton#pushButton_Wiki {
border: 1px solid;
border-color: rgb(173, 173, 173);
border-radius:15px;
padding:0px;
margin: 0px;
min-width: 30;
max-width: 30;
max-height: 30;
min-height: 30;
width: 30;
height: 30;
}

QPushButton#pushButton_Wiki:hover {
border: 1px solid;
border-color: rgb(0, 120, 215);
background-color: rgb(229, 241, 251);
border-radius:15px;
}